

<div class="container">
<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<div style="text-align: center">
				<h3>Our Expertise</h3>
			</div>
		</div>

		<div class="col-sm-4">
			<h3>
				<a>Job Seekers</a>
			</h3>
			<p>We specialize in placing candidates for contract,
				temp-to-perm, and direct hire opportunities, matching qualified
				professionals to your needs</p>

		</div>
		<div class="col-sm-4">
			<h3>
				<a>Medical Staffing</a>
			</h3>
			<p>Our mission is to ensure that healthcare professionals and
				healthcare organizations find their perfect match.</p>

		</div>
		<div class="col-sm-4">
			<h3>
				<a>Recruiting</a>
			</h3>
			<p>We attribute our success to our focus on “Taking care of
				People”, and that concept holds true as we continue to expand to
				meet increasing demands of the industry.</p>

		</div>

	</div>
</div>
</div>
