

<div class="ui-g" >
	<form action="">
		<div class="ui-g-12" >
			
			
				<h2>Contact Us</h2>
		</div>
		
		<div class="ui-g-4">
		<label for="firstName">First Name</label><br/>
			<input id="firstName" type="text" size="40" pInputText> 
		</div>
		
		<div class="ui-g-4">
		<label for="middleName">Middle Name</label><br/>
			<input id="middleName" type="text" size="40" pInputText> 
		</div>
		
		<div class="ui-g-4">
		<label for="lastName">Last Name</label><br/>
			<input id="lastName" type="text" size="40" pInputText> 
		</div>
		
		<div class="ui-g-4">
		<label for="countries">Country</label><br/>
			<p-autoComplete  id="countries" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="40"  [minLength]="1">
    		</p-autoComplete>
		</div>
		<div class="ui-g-4">
		<label for="states">State</label><br/>
			<p-autoComplete  id="states" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="40"  [minLength]="1">
    		</p-autoComplete>
		</div>
		<div class="ui-g-4">
		<label for="zip">Zip</label><br/>
			<p-autoComplete  id="zip" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="40"  [minLength]="1">
    		</p-autoComplete>
		</div>
		
		<div class="ui-g-4">
		<label for="countries">Phone</label><br/>
			<p-inputMask mask="(999) 999-9999"  placeholder="(999) 999-9999"></p-inputMask>
		</div>
		<div class="ui-g-4">
		<label for="email">Email</label><br/>
			<input id="email" type="text" size="40" pInputText> 
		</div>
		<div class="ui-g-8">
		<label for="resume">Upload Resume</label><br/>
			<p-fileUpload id="resume" name="myfile[]" url="./upload.php"></p-fileUpload>
		</div>
		
		
	
	</form>
</div>




