
<div class="container" *ngIf="!loadComponent">

<div class="btn-group">
		<div class="btn btn-primary" mwlCalendarPreviousView [view]="view"
			[(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
			Previous</div>
		<div class="btn btn-outline-secondary" mwlCalendarToday
			[(viewDate)]="viewDate">{{ viewDate | date:'LLL'}}</div>
		<div class="btn btn-primary" mwlCalendarNextView [view]="view"
			[(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
			Next</div>

	</div>
	<br>
	<div align="center">
		<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
	</div>
	<ng-template #customCellTemplate let-day="day" let-locale="locale" shift7to3 shift3to11 shift11to7>
  		<div class="cal-cell-top" class="ui-g-12">
  			<div class="ui-g-12">
    			<span class="cal-day-number" style="font-weight: bold;color: black;">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
 			</div>
  			<div [ngClass] ="{'ui-g-5' : messages.get(shift7to3.value),'ui-g-12' : !messages.get(shift7to3.value)}" >
				<p-checkbox #shift7to3 name="shift" name="shift" value="{{ day.date | date: 'dd/MM/yyyy'}}:7-3" label="7-3" [(ngModel)]="selectedShifts" disabled="true">
				</p-checkbox>
			</div>
			<div [ngClass] = "{'ui-g-7':messages.get(shift7to3.value)}">
				<small >{{messages.get(shift7to3.value)}}</small>
  			</div>	
  			<div [ngClass] ="{'ui-g-5' : messages.get(shift3to11.value),'ui-g-12' : !messages.get(shift3to11.value)}" >
				<p-checkbox #shift3to11 name="shift" name="shift" value="{{ day.date | date: 'dd/MM/yyyy'}}:3-11" label="3-11"  [(ngModel)]="selectedShifts" disabled="true"></p-checkbox>
	 		</div>
	 		<div [ngClass] = "{'ui-g-7':messages.get(shift3to11.value)}">	
	 			<small >{{messages.get(shift3to11.value)}}</small>
	 		</div>
	 		<div [ngClass] ="{'ui-g-5' : messages.get(shift11to7.value),'ui-g-12' : !messages.get(shift11to7.value)}">
				<p-checkbox #shift11to7 name="shift" name="shift" value="{{ day.date | date: 'dd/MM/yyyy'}}:11-7" label="11-7"  [(ngModel)]="selectedShifts" disabled="true"></p-checkbox>
			</div>
			<div [ngClass] = "{'ui-g-7':messages.get(shift11to7.value)}">
				<small >{{messages.get(shift11to7.value)}}</small>
			</div>
	 		<div class="ui-g-12">
				<p-checkbox #allShifts name="shift" name="shift" value="{{ day.date | date: 'dd/MM/yyyy'}}:All" label="All" [(ngModel)]="selectedAllShifts" disabled="true"></p-checkbox>
			</div>
			<div class="ui-g-12">
				<label for="comments">Comments</label><br/>
				<textarea [rows]="5" [cols]="12" #textComments id="{{ day.date | date: 'dd/MM/yyyy'}}" [(ngModel)]="comments[textComments.id]" disabled="true" pInputTextarea></textarea>
			</div>
  		</div>
  
  
	</ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [cellTemplate]="customCellTemplate"
    (dayClicked)="getShiftDetails()">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events">
  </mwl-calendar-day-view>
</div>
</div>




