<p-progressBar *ngIf="blocked" mode="indeterminate"></p-progressBar>

<p-accordion>
    <p-accordionTab header="Search">
    <div class=" ui-g-12">
	<div class="ui-g-12">
		<div class="ui-g-12 filter-block">
			
			<div class="ui-g-12 ">
				<div class="ui-g-12 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Shift From Date:</label>
					</div>
					<div class="ui-g-4 ui-sm-12">
						<p-calendar [(ngModel)]="shiftDateFrom" [showIcon]="true" dateFormat="mm/dd/yy"  [defaultDate]="defaultDate"></p-calendar>
					</div>
					<div class="ui-g-2 ui-sm-12">
						<label>Shift To Date:</label>
					</div>
					<div class="ui-g-4 ui-sm-12">
						<p-calendar [(ngModel)]="shiftDateTo" [showIcon]="true" dateFormat="mm/dd/yy" [defaultDate]="defaultDate"></p-calendar>
					</div>
				</div>
				
			</div>
			<div class="ui-g-12" align="center">
				<button pButton type="submit " label="Search" (click)="search()"></button>
			</div>
		</div>
	</div>
</div>
    </p-accordionTab>
</p-accordion>
<div class="ui-g-12">
	<p-blockUI [blocked]="blocked" [target]="ui-g"></p-blockUI>
	<p-toast position="top-center"></p-toast>
	<div class="ui-g-12">
		<p-table #availDt [columns]="availCols" [value]="userAvailabilities"
			[paginator]="true" [rows]="10" [autoLayout]="true" dataKey="specialNotes"> 
			<ng-template pTemplate="caption">
			<div class="right">
				<input type="text" pInputText size="20" placeholder="Search"
				(input)="availDt.filterGlobal($event.target.value, 'contains')"
				style="width: auto">
			</div>
			</ng-template> 
			<ng-template pTemplate="header" let-columns>
				<tr>
					 <th style="width: 3em"></th>
					<th *ngFor="let col of columns" class="center">{{col.header}}</th>
				</tr>
	
			</ng-template> 
			<ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded" >
				<tr   >
					<td >
							<a  href="#" [pRowToggler]="rowData" >
				                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
				            </a>
			        </td>
				
					<td *ngFor="let col of columns"  class="center">
					
		               
		             
					<p-calendar appendTo="body" *ngIf="col.field=='timeIn' || col.field=='timeOut' || col.field=='breakTime'" [timeOnly]="true" hourFormat="24" [(ngModel)]="rowData[col.field]" ></p-calendar>
					<p-calendar appendTo="body" *ngIf="col.field=='shiftDate'" [(ngModel)]="rowData[col.field]" ></p-calendar>
					<div class="ui-g-12" *ngIf="col.field === 'action' ">
						<button class="ui-g-4"  pButton type="button" *ngIf="col.field === 'action' "  class="ui-button-raised ui-button-rounded" label="Save" ></button>
						<button class="ui-g-8"  pButton type="button" *ngIf="col.field === 'action' "  class="ui-button-raised ui-button-rounded ui-button-danger" label="Remove" ></button>
					</div>
					
					<textarea *ngIf="col.field === 'specialNotes'" pInputTextarea id="specialNotes_id" [(ngModel)]="rowData[col.field]"></textarea>
					<div *ngIf="!(col.field=='title' || col.field=='shift' || col.field=='timeIn' || col.field === 'name' || col.field=='timeOut' || col.field=='breakTime' || col.field === 'action' || col.field === 'specialNotes' || col.field === 'status' || col.field === 'shiftDate' ||col.field === 'notify')"  [innerHTML]="rowData[col.field]"></div>
					<p-dropdown appendTo="body" *ngIf="col.field === 'name'"  [options]="names" [(ngModel)]="rowData[col.field]" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
					</p-dropdown>
					<p-dropdown appendTo="body" *ngIf="col.field === 'title'"  [options]="titles" [(ngModel)]="rowData[col.field]" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
					</p-dropdown>
					<p-dropdown appendTo="body" *ngIf="col.field === 'shift'"  [options]="shifts" [(ngModel)]="rowData[col.field]" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
					</p-dropdown>
					<p-dropdown appendTo="body" *ngIf="col.field === 'status'"  [options]="statuses" [(ngModel)]="rowData[col.field]" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
					</p-dropdown>
					<p-multiSelect appendTo="body" *ngIf="col.field === 'notify'"  [options]="notifyNames" [(ngModel)]="rowData[col.field]" [style]="{'width':'15em'}">
						    
					</p-multiSelect>
					</td>
				</tr>
				 
			</ng-template>
			 <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
		        <tr >
		             <td [attr.colspan]="columns.length + 1">
		            	<textarea rows="10" cols="100" pInputTextarea  [(ngModel)]="rowData.specialNotes"></textarea>
		            </td>	
		                
		           
		        </tr>
		    </ng-template>
			 
		</p-table>
		<br>
		<div style="float:left">
		      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
		</div>
		
		<p-dialog  header="Shift Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'} ">
		    <div class="ui-g">
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="shiftDate_id">Shift Date</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-calendar id="shiftDate_id" appendTo="body"  [(ngModel)]="assignedShift.shiftDate"></p-calendar>
		            </div>
		        </div>
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="id_id" style="text-align: left">Id</label>
		            </div>
		            <div class="ui-g-3">
		            	<input id="id_id" type="text"  [(ngModel)]="assignedShift.id"  pInputText/>
		            </div>
		        </div>
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="title_id">Title</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-dropdown appendTo="body"  id="title_id" [options]="titles" [(ngModel)]="assignedShift.title" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
						</p-dropdown>
		            </div>
		        </div>
		        
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="shift_id">Shift</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-dropdown appendTo="body"  id="shift_id" [options]="shifts" [(ngModel)]="assignedShift.shift" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
						</p-dropdown>
		            </div>
		        </div>
		        
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="name_id">Name</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-dropdown appendTo="body"  id="name_id" [options]="names" [(ngModel)]="assignedShift.name" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
						</p-dropdown>
		            </div>
		        </div>
		        
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="status_id">Status</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-dropdown appendTo="body"  id="status_id" [options]="statuses" [(ngModel)]="assignedShift.status" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-name pTemplate="item">
						        <div>
						            <div>{{name.label}}</div>
						        </div>
						    </ng-template>
						</p-dropdown>
		            </div>
		        </div>
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="timeIn_id">Time In</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-calendar appendTo="body"  id="timeIn_id" [timeOnly]="true" hourFormat="24"  [(ngModel)]="assignedShift.timeIn" ></p-calendar>
		            </div>
		        </div>
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="timeOut_id">Time Out</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-calendar appendTo="body"  id="timeOut_id" [timeOnly]="true" hourFormat="24"  [(ngModel)]="assignedShift.timeOut" ></p-calendar>
		            </div>
		        </div>
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="breakTime_id">Break</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-calendar appendTo="body"  id="breakTime_id" [timeOnly]="true" hourFormat="24"  [(ngModel)]="assignedShift.breakTime" ></p-calendar>
		            </div>
		        </div>
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="notify_id">Notify</label>
		            </div>
		            <div class="ui-g-3">
		            	<p-multiSelect appendTo="body" id="notify_id" [options]="notifyNames" [(ngModel)]="assignedShift.notify"  [style]="{'width':'15em'}">
						    
					</p-multiSelect>
		            </div>
		        </div>
		        <div class="ui-g-12">
		            <div class="ui-g-1 left">
		                <label for="specialNotes_id">Special Notes</label>
		            </div>
		            <div class="ui-g-3">
		            	<textarea rows="10" cols="100" pInputTextarea id="specialNotes_id" [(ngModel)]="assignedShift.specialNotes"></textarea>
		            </div>
		        </div>
		        
		       
		    </div>
		    <p-footer>
		        <div class="ui-dialog-buttonpane ui-helper-clearfix">
		            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
		        </div>
		    </p-footer>
		</p-dialog>
	</div>
</div>