
<div class="container">
	<p-dialog [(visible)]="display" [width]="370"  [height]="300">
    <p-header>
        Appointment Details
    </p-header>
   		<label for="title">Title</label><br/>
			<input id="title" [(ngModel)]="titleVal" type="text" size="40" pInputText><br/>
		<label for="from">From</label><br/>	 
		<p-calendar [(ngModel)]="fromTime" [timeOnly]="true"></p-calendar><br/>
		<label for="to">To</label><br/>
		<p-calendar [(ngModel)]="toTime" [timeOnly]="true"></p-calendar>
    <p-footer>
			<button pButton type="button"  label="Update"  (click)="handleUpdate($event)" iconPos="left"></button>	
			<button pButton type="button"  label="Create" (click)="handleSave(fc)" iconPos="left"></button>		
    </p-footer>
</p-dialog>
	<p-schedule *ngIf="userType === 'Admin'" [events]="events" [header]="headerConfig" [editable]= "true" (onEventClick)="handleEventClick($event)" (onDayClick) ="handleDayClick($event)" #fc></p-schedule>
	
	<!--  Schedule for Nurses -->
	<p-dialog  [(visible)]="displayAvailability" header="Select Availability" [width]="370"  [height]="300" blockScroll="false">
		<p-dropdown  appendTo="body" [options]="shifts" [(ngModel)]="selectedShift" placeholder="Select a Shift" [style]="{width:'100%'}"></p-dropdown>
    <p-footer>
    		<button pButton type="button"  label="Save" (click)="saveAvailability()" iconPos="left"></button>
			<button pButton type="button" [(disabled)]="!isDeleteBtnVisible" label="Delete" (click)="deleteAvailability()" iconPos="left"></button>		
    </p-footer>
	</p-dialog>
	<p-schedule *ngIf="userType === 'Nurse'"  [events]="userEvents" (onEventClick)="handleEventClick($event)" (onDayClick) ="handleDayClick($event)"></p-schedule>
	<!-- Schedule for Nurses -->
</div>

