<p-progressBar *ngIf="blocked" mode="indeterminate"></p-progressBar>
<div class="container">
	<p-blockUI [blocked]="blocked" [target]="container" ></p-blockUI>
	<p-toast class="toast-style" position="top-center"></p-toast>
	<div class="ui-g-2 ui-sm-12 name-list">
		<p-table #dt [columns]="cols" [value]="namesList" [paginator]="true"
			[rows]="10" > 
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>Search </th>
				</tr>
				<tr>
					<th>
						<p-radioButton name="searchName" value="customer"
							label="Customer" [(ngModel)]="selectedValue" (click)="getList()"
							[disabled]="isDisabled">
							
						</p-radioButton><br> 
						<p-radioButton #employee
							name="searchName" value="employee" label="Employee"
							[(ngModel)]="selectedValue" (click)="getList()"
							[disabled]="isDisabled">
						</p-radioButton>
					</th>
				</tr>
				<tr>
					<th *ngFor="let col of columns">
						<input pInputText type="text"
						(input)="dt.filter($event.target.value,col.field,col.filterMatchMode)"
						class="input-search" [disabled]="isDisabled">
					</th>
				</tr>
		</ng-template>
		 
		<ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
			<tr [pSelectableRow]="rowData" *ngIf="!isDisabled" >
				<td *ngFor="let col of columns">
					<a *ngIf="isEmployeeSelected"
					[routerLink]="['employee', namesList[i].emailPrimary]">
					{{rowData[col.field]}} {{ rowData[col.field2]}} </a> 
					<a *ngIf="isCustomerSelected" [routerLink]="['customer',namesList[i].id]"> {{rowData[col.field]}} </a> 
				</td>
					
			</tr>
		</ng-template> 
		
		</p-table>
	</div>
	<div class="ui-g-10 ui-sm-12 side-table">
		<router-outlet></router-outlet>
	</div>
</div>