<!-- <mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header> -->
<div class="container">
	
	<div class="ui-g-2" style="float: left; margin-top: 10px;"
		disabled="true">
		<p-table #dt [columns]="cols" [value]="namesList" [paginator]="true"
			[rows]="10"> <ng-template pTemplate="header" let-columns>
		<tr>
			<th>Search </th>
		</tr>
		<tr>
			<th><p-radioButton name="searchName" value="customer"
					label="Customer" [(ngModel)]="selectedValue" (click)="getList()"
					[disabled]="isDisabled">
					
				</p-radioButton><br> 
				<p-radioButton #employee
					name="searchName" value="employee" label="Employee"
					[(ngModel)]="selectedValue" (click)="getList()"
					[disabled]="isDisabled"></p-radioButton>
			</th>
		</tr>
		<tr>
			<th *ngFor="let col of columns"><input pInputText type="text"
				(input)="dt.filter($event.target.value,col.field,col.filterMatchMode)"
				style="width: 100%" [disabled]="isDisabled"></th>
		</tr>
		</ng-template> 
		<ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
			<tr [pSelectableRow]="rowData" *ngIf="!isDisabled">
			<td *ngFor="let col of columns">
				<a *ngIf="isEmployeeSelected ; else customerLink"
				[routerLink]="['employee', namesList[i].email]">
					{{rowData[col.field]}} </a> 
				<a *ngIf="isCustomerSelected" [routerLink]="['customer',namesList[i].id]"> {{rowData[col.field]}} </a> 
			</td>		
		</tr>
		</ng-template> 
		
		</p-table>
	</div>
	<div class="ui-g-10" style="float: right; margin-top: 10px">
		<div class="ui-g-12" align="right">
			<button pButton type="button" label="Show Availabilities" (click)="getAvailabilities()"></button>
		</div>
	<br>
	<div class="ui-g-12" *ngIf="showTable">
		<p-table #availDt [columns]="availCols" [value]="userAvailabilities" [paginator]="true" [rows]="10">
			<ng-template pTemplate="caption">
	        	 <div style="text-align: right">        
            		<input type="text" pInputText size="20" placeholder="Search" (input)="availDt.filterGlobal($event.target.value, 'contains')" style="width:auto">
       			 </div>
        </ng-template>
		    <ng-template pTemplate="header" let-columns>
		        <tr>
		            <th *ngFor="let col of columns" style="text-align: center">
		                {{col.header}}
		            </th>
		        </tr>
		         
		    </ng-template>
		    <ng-template pTemplate="body" let-rowData let-columns="columns" >
		        <tr [pSelectableRow]="rowData">
		            <td *ngFor="let col of columns" style="text-align: center">
		                {{rowData[col.field]}}
		            </td>
		        </tr>
    		</ng-template>
	    
		</p-table>
		<br>
		<div ui-g-12 align="right">
			<button pButton type="button" label="cancel" (click)="closeTable()"></button>
		</div>
	</div>
	
		<router-outlet></router-outlet>
	</div>
</div>